:root{
    /*Font Stuff*/
    --font-primary: 'Inter', sans-serif;
    --font-tiny: 400;
    --font-regular: 500;
    --font-bold: 600;
    --font-boldest: 700;
    /*Colors*/
    --color-purple:#7C3AED;
    --color-light-blue:#D5FAFC;
    --color-dark-blue:#1DB5BE;
    --color-white:#FFFFFF;
    --color-gray:#D1D5DB;
    --color-grayish:#6B7280;
    --color-light-black:#374151;
    --color-black:#111827;
    --color-dark-black:#00000;
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: var(--font-primary);
    font-size: var(--font-tiny);
    display: grid;
    grid-template-rows: [main-start] min-content [ main-end footer-start] min-content [footer-end];
}

/*BUTTONS*/
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 14rem;
    height: 6rem;
    border: none;
    border-radius: .8rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.btn-cta{
    background-color: var(--color-purple);
    color: var(--color-white);
}

.btn-video{
    background-color: transparent;
    color: var(--color-purple);
}

/*HEADINGS*/

.heading-1{
    font-weight: var(--font-boldest);
    font-size: 3.6rem;
    line-height: 4.5rem;
    color: var(--color-black);
}

.heading-3{
    font-weight: var(--font-boldest);
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: var(--color-black);
    text-align: center;
    white-space: nowrap;
}

.heading-4{
    font-weight: var(--font-boldest);
    font-size: 3rem;
    line-height: 4rem;
    color: var(--color-black);
    z-index: 1;
}

.heading-5{
    font-weight: var(--font-boldest);
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: var(--color-black);
}

.heading-6{
    font-weight: var(--font-regular);
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: var(--color-gray);
}

.main{
    grid-row: main-start / main-end;
    display: grid;
    grid-template-rows: [hero-start] minmax(80vh,max-content)
    [hero-end sponsorship-start] min-content [sponsorship-end features-start] minmax(50vh,max-content)
    [features-end stories-start] minmax(85vh,max-content) [stories-end];
    grid-row-gap: 5rem;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    padding: 3rem 2rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header .header__nav, .header__nav ul{
    display: none;
}@media only screen and (min-width: 64em){
    .header .header__nav{display: inline;}
    .header__nav ul{
        display: flex;
        gap: 3rem;
        list-style: none;
    }
    .header__nav ul li{
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: var(--font-bold);
        color: var(--color-black);
    }
}

.header .header__app-store-badge{
    margin-left: auto;
}
.header .header__app-store-badge, .header__play-store-badge{display: none;}
@media only screen and (min-width: 41.875em){
    .header .header__app-store-badge, .header__play-store-badge{display: inline;}
}

.header .hamburger{margin-left: auto;}
@media only screen and (min-width: 41.875em){
    .header .hamburger{margin-left: 2rem;}
}

.hero{
    width: 100%;
    padding-top: 10vh;
    grid-row: hero-start / hero-end;
    background-image: url("./images/mobile-background.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: grid;
    grid-template-rows: min-content 1fr;
    background-position: center;

}  @media only screen and (min-width: 41.875em){
    .hero{background-image: url("./images/tablet-background.svg");}
}  @media only screen and (min-width: 64em){
    .hero{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        background-image: url("./images/desktop-background.svg");
    }
}

.hero::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 10rem;
    height: 100%;
    background-image: url("./images/purple-circle.svg");
    background-repeat: no-repeat;
    filter: blur(10rem);
}

.hero .hero__description{
    padding: 5rem 2rem;
    display: grid;
    grid-template-rows: repeat(3,min-content);
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 3rem;
}@media only screen and (min-width: 64em){
    .hero .hero__description{
        grid-column: 1 / 2;
        grid-row: 1 / -1;
        align-self: center;
        padding: 5rem 10rem;
    }
}

.hero .hero__description .hero__description-heading{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.hero .hero__description .hero__description-paragraph{
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: var(--color-light-black);
}

.hero .hero__description .hero__description--buttons{
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    display: flex;
    gap: 2rem;
}

.hero .hero__illustration{
    grid-row: 2 / 3;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}@media only screen and (min-width: 64em){
    .hero .hero__illustration{
        grid-column: 2 / 3;
        grid-row: 1 / -1;
    }
}

.hero .hero__illustration .hero__illustration-phone{
    padding: 7rem 0;
    filter: drop-shadow(.5rem .5rem 1rem var(--color-black));
    z-index: 2;
}

.hero .hero__illustration .hero__illustration-screen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 3rem;
    z-index: 1;
}

.sponsors{
    margin: 0 2rem;
    padding: 8rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(12rem,min-content));
    grid-template-rows: repeat(auto-fit, minmax(3rem,min-content));
    grid-column-gap: 5rem ;
    grid-row-gap: 3rem;
    justify-content: center;
    border-top: 1px solid #E5E7EB;
    border-bottom: 1px solid #E5E7EB;
}

.sponsors .sponsors__sponsor{
    width: 100%;
    height: 100%;
}@media only screen and (min-width: 41.875em) {
    .sponsors .sponsors__sponsor:nth-child(5){grid-column: 2 / 3;}
    .sponsors .sponsors__sponsor:nth-child(6){grid-column: 3 / 4;}
}@media only screen and (min-width: 64em){
    .sponsors .sponsors__sponsor:nth-child(5){grid-column: auto;}
    .sponsors .sponsors__sponsor:nth-child(6){grid-column: auto;}
}
.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

.features__heading{text-align: center;}

.features .features__description{
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: var(--color-black);
    text-align: center;
    padding: 2.5rem 0 5rem 0;
}

.features .features__container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,min-content));
    gap: 5rem ;
    align-items: center;
    justify-content: center;
    justify-items: center;
}@media only screen and (min-width: 64em){
    .features .features__container{grid-template-columns: repeat(auto-fit,minmax(45rem,min-content));}
}

.features .features__container .features__container-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    /*width: 100%*/
    gap: 1.5rem;
}@media only screen and (min-width: 64em){
    .features .features__container .features__container-card{width: 100%;}
}
.features .features__container .features__container-card .features__container-card--description{
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--color-light-black);
    text-align: center;
}

.stories{
    padding: 5rem 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--color-light-blue);
}

.stories::before{
    content: '';
    position: absolute;
    top: 2.5%;
    left: 5%;
    width: 20rem;
    height: 100%;
    background-image: url("./images/quote-mark.svg");
    background-repeat: no-repeat;
    opacity: .25;
}

.stories .stories__description{
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--color-black);
}

.stories .stories__card{
    width: 100%;
    padding: 3.2rem;
    background-color: var(--color-white);
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}

.stories .stories__card .stories__card--paragraph{
    position: relative;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: var(--color-black);
}
.stories .stories__card .stories__card--paragraph::before{
    content: '';
    position: absolute;
    top: 0;
    left: -2rem;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("./images/quote-mark.svg");
    background-repeat: no-repeat;
    background-size: 100%;

}


.stories .stories__card .stories__card--author{
    display: flex;
    flex-direction: column;
}
.stories .stories__card .stories__card--author span{
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--color-grayish);
}

@media only screen and (min-width: 64em){
    .stories{
        display: grid;
        grid-template-rows: repeat(2,min-content) repeat(2,1fr);
        grid-template-columns: repeat(2,1fr);
        width: 100%;
    }
    .stories__heading{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        font-size: 4.8rem;
        line-height: 6rem;
        margin-left: auto;
        width: 75%;

    }
    .stories__description{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        width: 75%;
        margin-left: auto;
    }
    .stories .stories__card:nth-child(3){
        align-self: end;
        grid-row: 3 /4;
        grid-column: 2 / 3;
        width: 90%;
    }
    .stories .stories__card:nth-child(4){
        align-self: center;
        justify-self: end;
        grid-row: 3 /5;
        grid-column: 1 / 2;
        width: 50%;
        gap: 4rem;
    }
    .stories .stories__card:nth-child(5){
        align-self: start;
        grid-row: 4 /5;
        grid-column: 2 / 3;
        width: 60%;
    }

}

.footer{
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.5rem;
    background-color: var(--color-black);
}

.footer__nav{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer__nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.footer__nav ul li a {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--color-white);
    text-decoration: none;
}

.footer__copyright{
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--color-gray);
}

.footer__badges{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media only screen and (min-width: 41.875em){
    .footer{
        display: grid;
        grid-template-columns: 1fr min-content;
        grid-template-rows: repeat(3,min-content);
        align-items: center;
    }
    .footer__nav{grid-row: 2 / 3;}
    .footer__copyright{grid-row: 3 / 4;}
    .footer__badges{
        grid-row: 1 / -1;
        justify-content: center;
        text-align: center;
    }
}
@media only screen and (min-width: 64em){
    .footer{
        padding: 5rem 8rem;
    }
    .footer__nav{
        display: grid;
        grid-template-rows: repeat(2,min-content);
        grid-template-columns: repeat(2,min-content);
    }
    .footer__nav ul:nth-child(2){grid-row: 2 / 3;}
    .footer__nav ul:nth-child(3){grid-row: 2 / 3;}
    .footer__copyright{grid-row: 3 / 4;}
    .footer__badges{
        grid-row: 1 / -1;
        justify-content: center;
        text-align: center;
    }
}